@{
    ViewData["Title"] = "Access Denied";
}

<h1>@ViewData["Title"]</h1>
<p>لا يمكنك الوصول إلى هذه الصفحة. لديك صلاحيات غير كافية.</p>
<a href="@Url.Action("Index", "Home")">الرجوع إلى الصفحة الرئيسية</a>
